body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #1b1b32;
    position: fixed;
  }

#logo {
	width: max(77px, 77px);
	background-color: #0a0a23;
	padding: 0.4rem;
}
  
h1{
	font-family:Verdana;
	color: #dfdfe2;
}
 
nav {
    width: 200%;
    max-width: 300px;
    height: 50px;
  }
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
li > a {
    color: inherit;
    text-decoration: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: white;
    color: gray;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.home-intro {
    padding: 50vh 0;
    background: #123 url(corevaluesintro.JPG);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
  }
  
.home-about {
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
  }
  
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
.fade-in.appear {
    opacity: 1;
  }
  
.examples {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
        1em,
        1fr
      );
  }
  
.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  
.from-left,
.from-right {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
    color: black;
  }
  
.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }